.hat, .features, .team-info, .clients, .basement, .portfolio-container, .models, .mobile-menu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .hat, .features, .team-info, .clients, .basement, .portfolio-container, .models, .mobile-menu {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

* ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

* img {
  display: block;
}

body {
  width: 100vw;
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .hat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768) {
  .hat {
    min-width: 768px;
  }
}

@media screen and (min-width: 480px) {
  .hat {
    min-width: 480px;
  }
}

.menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav__logo {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.nav__logo:hover, .nav__logo:focus {
  color: #2196f3;
}

.nav__logo .nav__part {
  color: #2196f3;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 88px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  list-style: none;
}

@media (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}

.menu-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-nav__link--current {
  position: relative;
  color: #2196f3;
}

.menu-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu-nav li {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.menu-nav li + li {
  margin-left: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link:hover .contacts__smartphone,
.contacts__link:focus .contacts__smartphone {
  fill: #2196f3;
}

.contacts__link:hover .contacts__envelope,
.contacts__link:focus .contacts__envelope {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts li + li {
    margin-left: 50px;
  }
}

.contacts__item,
.contacts__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .contacts__item,
  .contacts__point {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__point {
    margin-top: 10px;
  }
}

.contacts__envelope {
  margin-right: 8px;
  padding: 0px;
  width: 14px;
  height: 10px;
  fill: #757575;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__smartphone {
  margin-right: 10px;
  padding: 0px;
  width: 10px;
  height: 14px;
  fill: #757575;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
  width: 100vw;
  max-width: 1600px;
  background-color: #212121;
  text-align: center;
  background-size: cover;
}

@media screen and (max-width: 1199px) {
  .main-section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-desc.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-desc.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-desc@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-desc@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-tab@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-mob.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-mob.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-mob@2x.jpg);
  }
}

.main-section__heading {
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen {
  .main-section__heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .main-section__heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}

.main-section__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section__button:hover, .main-section__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .features {
    max-width: 768px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .features__item {
    max-width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__names {
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .feature__names {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .feature__names {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .feature__names {
    color: #212121;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.feature__def {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

@media screen and (max-width: 767px) {
  .icon-box {
    max-width: 450px;
  }
}

.feature__picture {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
}

.pictures {
  padding-bottom: 94px;
}

@media (max-width: 1199px) {
  .pictures {
    display: none;
  }
}

.secondary-heading {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.pictures__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pictures__list li + li {
  margin-left: 30px;
}

.pictures__list li {
  width: 370px;
  position: relative;
}

.pictures__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-info {
  background-color: #f5f4fa;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .team-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team-info {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 758px) and (max-width: 1199px) {
  .team {
    max-width: 768px;
  }
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .team__box {
    width: 270px;
  }
  .team__box:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__box {
    width: calc((100% - 2 * 30px) / 2);
    max-width: 354px;
    margin-right: 30px;
  }
  .team__box:nth-child(2n) {
    margin-right: 0px;
  }
  .team__box:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__box {
    max-width: 450px;
  }
  .team__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__occupation {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__link {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
}

.social-media__link:hover .social-media__icons,
.social-media__link:focus .social-media__icons {
  fill: #ffffff;
}

.social-media__icons {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    max-width: 768px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .clients__list {
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__link {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__link {
    min-width: 172px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__icons,
.clients__link:focus .clients__icons {
  fill: #2196f3;
}

.clients__icons {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients__info {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__info {
    max-width: 226px;
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__info:nth-child(3n) {
    margin-right: 0px;
  }
  .clients__info:nth-child(n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__info:not(:last-child) {
    margin-right: 30px;
  }
}

.basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .basement {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .basement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.basement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .basement__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .basement__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 1200px;
        flex-basis: 1200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .basement__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-list {
    margin-left: 165px;
  }
  .subscription {
    margin-right: auto;
    margin-left: auto;
  }
}

.basement__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 767px) {
  .basement__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .basement__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* info */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__logo {
  color: #2196f3;
}

.info__brandmark {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__brandmark:hover, .info__brandmark:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .info__brandmark {
    text-align: center;
  }
}

.info__address {
  display: block;
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .info__address {
    text-align: center;
    margin-bottom: 60px;
  }
}

.info__contacts {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__contacts:focus, .info__contacts:hover {
  color: #757575;
}

/* social-list */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-left: 70px;
  }
}

.social-list__heading {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .social-list__heading {
    text-align: center;
  }
}

.social-list__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

@media screen and (max-width: 1199px) {
  .social-list__points {
    margin-bottom: 60px;
  }
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

/* subscription */
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

.subscription__heading {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .subscription__heading {
    text-align: center;
  }
}

.subscription__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .subscription__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2196f300;
  color: #ffffff99;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 350px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .subscription__input {
    width: calc(100vw - 30px);
    max-width: 450px;
  }
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .subscription-button {
    margin-left: 12px;
  }
}

.subscription-button__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.portfolio-heading {
  display: none;
}

@media screen and (max-width: 1199px) {
  .portfolio-container {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.button-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .button-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .button-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-nav li + li {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-nav {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-nav {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .button-nav li:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.button-nav li:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.button-nav__menu {
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav__menu:focus, .button-nav__menu:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-nav__main {
  border-radius: 4px;
  border: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.models {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .models {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .models {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 768px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .models {
    margin-top: 50px;
  }
}

.models__item {
  max-width: 450px;
}

.models__item:not(:last-child) {
  margin-bottom: 30px;
}

.models__item:hover .models__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .models__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .models__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
  }
  .models__item:nth-child(3n) {
    margin-right: 0px;
  }
  .models__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.models__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.models__link:hover, .models__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.models__box {
  position: relative;
  overflow: hidden;
}

.models-image {
  display: block;
  height: auto;
  max-width: 100%;
}

.models__text {
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-style: normal;
}

@media screen and (max-width: 469px) {
  .models__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 470px) {
  .models__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

.models__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.models__heading {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.models__def {
  margin-top: 4px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate -50%, -50% scale(0.8);
          transform: translate -50%, -50% scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

@media screen and (max-width: 469px) {
  .modal {
    width: 100vw;
    height: 90vh;
  }
}

@media screen and (min-width: 470px) and (max-width: 767px) {
  .modal {
    max-width: 450px;
    min-height: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    min-height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    padding: 15px;
    min-width: 550px;
    min-height: 550px;
  }
}

.application {
  position: relative;
  padding: 40px;
}

.application__heading {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.application__info {
  position: relative;
}

.application__label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-style: normal;
}

.application__input {
  padding-left: 40px;
  margin-bottom: 28px;
  position: relative;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media screen and (max-width: 469px) {
  .application__input {
    width: 100%;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .application__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .application__input {
    width: 450px;
  }
}

.application__input:focus {
  border: 1px solid #2196f3;
}

.application__input:focus ~ .application__item {
  fill: #2196f3;
}

.application__item {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  position: relative;
}

.textarea__info {
  padding: 12px 16px;
  margin-bottom: 28px;
  resize: none;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 469px) {
  .textarea__info {
    width: 100%;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .textarea__info {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .textarea__info {
    width: 450px;
  }
}

.textarea__info:focus {
  border: 1px solid #2196f3;
}

.textarea__label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-style: normal;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 469px) {
  .agreement {
    position: relative;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .agreement {
    position: relative;
    width: 370px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .agreement {
    width: 450px;
    margin-bottom: 30px;
  }
}

.agreement__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement__box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agreement__box:checked + .agreement__tick {
  background-color: #2196f3;
  background-image: url(../img/check.svg);
  fill: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 469px) {
  .agreement__tick {
    position: absolute;
    left: 0px;
    bottom: 4px;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .agreement__tick {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .agreement__tick {
    margin-right: 7px;
  }
}

@media screen and (max-width: 469px) {
  .agreement__text {
    color: #757575;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 470px) {
  .agreement__text {
    width: 350px;
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 1199px) {
  .agreement__text {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
}

.send-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-box__button {
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 469px) {
  .send-box__button {
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.9;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 470px) {
  .send-box__button {
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
  }
}

.send-box__button:hover, .send-box__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 8px;
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.close-button__icon {
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  padding: 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
}

.mobile-menu.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu__open {
    display: none;
  }
}

.mobile-menu__open {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__open:hover, .mobile-menu__open:focus {
  fill: #2196f3;
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu__close:hover, .mobile-menu__close:focus {
  fill: #2196f3;
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding-bottom: 35px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__link--current {
  position: relative;
  color: #2196f3;
}

.contacts-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 40px;
  bottom: 134px;
}

.contacts-menu__mail,
.contacts-menu__tel {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #757575;
}

.contacts-menu__mail:hover,
.contacts-menu__mail :focus,
.contacts-menu__tel:hover,
.contacts-menu__tel :focus {
  color: #2196f3;
}

.contacts-menu__point {
  margin-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-menu__item {
  margin-bottom: 64px;
  color: #757575;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 48px;
  left: 40px;
}

@media screen and (max-width: 469px) {
  .mobile-social__network {
    color: #2196f3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 470px) {
  .mobile-social__network {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.mobile-social__line {
  color: #21212133;
}
/*# sourceMappingURL=main.css.map */